services:
  - type: web
    name: events-api
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: API_PORT
        value: 8000
      - key: API_HOST
        value: 0.0.0.0
      - key: MONGO_URI
        sync: false
      - key: REDIS_URL
        sync: false
